@font-face {
	font-family: "Gilroy_R";
	src: url("@/assets/fonts/Gilroy-Regular.woff");
}
@font-face {
	font-family: "Gilroy_M";
	src: url("@/assets/fonts/Gilroy-Medium.woff");
}
@font-face {
	font-family: "Gilroy_S";
	src: url("@/assets/fonts/Gilroy-Semibold.woff");
}
@font-face {
	font-family: "Gilroy_B";
	src: url("@/assets/fonts/Gilroy-Bold.woff");
}
@font-face {
	font-family: "Gilroy_E";
	src: url("@/assets/fonts/Gilroy-Extrabold.woff");
}
@font-face {
	font-family: "Orbitron_S";
	src: url("@/assets/fonts/Orbitron-SemiBold.woff");
}
