@use "sass:list";

$all-sides: top, right, bottom, left;

@mixin border-radius($radius) {
	border-radius: get-border-radius($radius);
}

@mixin border(
	$border-width: 0,
	$border-type: solid,
	$primary-color: $--c_white
) {
	border: $border-width $border-type $primary-color;
}

@mixin border-sides(
	$border-width,
	$border-type: solid,
	$primary-color: $--c_white,
	$sides: $all-sides
) {
	@each $side in $sides {
		border-#{$side}: $border-width $border-type $primary-color;
	}
}

@mixin border-with-radius(
	$border-width,
	$border-type,
	$primary-color,
	$radius
) {
	@include border($border-width, $border-type, $primary-color);
	@include border-radius($radius);
}

@mixin border0-radii(
	$top-left-radius,
	$top-right-radius,
	$bottom-right-radius,
	$bottom-left-radius
) {
	border-top-left-radius: get-border-radius($top-left-radius);
	border-top-right-radius: get-border-radius($top-right-radius);
	border-bottom-right-radius: get-border-radius($bottom-right-radius);
	border-bottom-left-radius: get-border-radius($bottom-left-radius);
}

@mixin border0-radius($radius) {
	@include border(0);
	@include border-radius($radius);
}

@mixin padding-sides($padding, $sides: $all-sides) {
	@each $side in $sides {
		padding-#{$side}: $padding;
	}
}

@mixin grid-area($areas: (), $sizes: ()) {
	display: grid;
	$default-sizes: (
		#{$--grid-top-height}fr,
		#{$--grid-bottom-height}fr,
		#{$--grid-left-width}fr,
		#{$--grid-right-width}fr
	);
	@if list.length($areas) == 4 {
		$sizes: lists-merge($sizes, $default-sizes);
		grid-template:
			"#{list.nth($areas, 1)} #{list.nth($areas, 2)}" #{list.nth($sizes, 1)}
			"#{list.nth($areas, 3)} #{list.nth($areas, 4)}" #{list.nth($sizes, 2)}
			/ #{list.nth($sizes, 3)} #{list.nth($sizes, 4)};
	}
}

@mixin grid($rows-number: 1, $columns-number: 1) {
	display: grid;
	grid-template: repeat(#{$rows-number}, 1fr) / repeat(#{$columns-number}, 1fr);
}

@mixin grid-sizes(
	$rows-number: (
		1fr,
	),
	$columns-number: (
		1fr,
	)
) {
	display: grid;
	grid-template: grid-sides($rows-number, $columns-number);
}
