$--c_main: #1c1c1c;
$--c_grey-dark: #282727;
$--c_grey: #3c3c3c;
$--c_grey-light: #6d6d6d;
$--c_whitish-grey: #afafaf;
$--c_greyish-white: #d9d9d9;
$--c_white: #fff;
$--c_black: #000;
$--c_yellow: #ebfc56;
$--c_red: #920a0a;
$--c_green: #90d847;

$--r_small: 1rem * 120 / 384;
$--r_smedium: 1rem * 120 / 192;
$--r_medium: 1rem * 120 / 128;
$--r_merge: 1rem * 120 / 96;
$--r_large: 1rem * 120 / 48;

$--fz_xs: 1rem * 120 / 148;
$--fz_s: 1rem * 120 / 128;
$--fz_m: 1rem * 120 / 96;
$--fz_xm: 1rem * 120 / 76.8;
$--fz_l: 1rem * 120 / 64;
$--fz_xl: 1rem * 120 / 48;
$--fz_xxl: 1rem * 120 / 30;
$--fz_base: 1rem;

$--grid-left-width: 20;
$--grid-right-width: 100-$--grid-left-width;
$--grid-top-height: 9;
$--grid-bottom-height: 100-$--grid-top-height;

$px: 1px;
$--mobile-breakpoint: 760px;

:root {
	--checkbox-height: 1.625rem;
}
